
@font-face {
   font-family: jedi;
   src: url(../fonts/Starkiller.woff);
}

$light = #24535B
$dark = #601F1F
$neutral = #7F7F7F

body
  background-color #FFFFFF

.header
  border-bottom 1px solid blue
  margin-bottom 5px
  background-color black
  color white
  text-align center

  .logo
    font-family: jedi
    font-weight bold
    font-size 25px
    padding 5px

.footer
  font-family: jedi
  background-color black
  color white
  text-align center
  padding 5px
  font-size 12px

.card
  border 1px solid yellow
  color #FFFFFF
  margin 5px
  &.light
    background linear-gradient(left, '#1B1B1B', $light)
    .card-heading
      background linear-gradient(right, '#1B1B1B', $light)
      .side
        box-shadow 0px 0px 10px 2px $light
  &.dark
    background linear-gradient(left, '#1B1B1B', $dark)
    .card-heading
      background linear-gradient(right, '#1B1B1B', $dark)
      .side
        box-shadow 0px 0px 10px 2px $dark
  &.neutral
    background linear-gradient(left, '#1B1B1B', $neutral)
    .card-heading
      background linear-gradient(right, '#1B1B1B', $neutral)
      .side
        box-shadow 0px 0px 10px 2px $neutral
  .card-image
    float left
    padding 5px
    img
      height 142px
  .card-heading
    padding 10px
    font-weight bold
    font-size 20px
    .side
      display inline-block
      padding 2px 5px
      background #1b1b1b
      box-shadow 0px 0px 10px 2px $dark
      float right
  table
    color #FFFFFF
    margin 5px
    th, td
      text-align center
