extends _layouts/master

// append body-ng-controller
//  - controller_name = 'mainController as mc'

append body-content
  .row
    .col-md-12
      .well(style='height:100vh') Welcome to the future home of the SWFC UI site!
