div
  div(data-ng-show='isLoading')
    .loading 
      i.fa.fa-empire.fa-spin
      | Loading...
  div(data-ng-show='!isLoading')
    .row(data-ng-show='!cards || !cards.length')
      .col-md-12
        .m-a
          .alert.alert-danger.fade.in 
            i.fa.fa-exclamation-triangle
            span &nbsp;No card data available at this time.
    .row(data-ng-repeat='card in cards')
      .col-md-12
        .card.card-inverse.m-a(data-ng-class='{"L":"card-light", "D":"card-dark", "N":"card-neutral"}[card.side]')
          .card-image
            img.media-object(src='./images/cards/{{card.id}}_ll.png', title='{{card.name}}')
          .card-header
              | {{card.name}}
              span(data-ng-show='card.nickname') &nbsp;[{{card.nickname}}]
              .side {{card.side}}
              i.fa.fa-shopping-cart.pull-right.text-warning(title='Junkyard Exclusive', data-ng-show='card.is_junkyard_exclusive')
          .card-block
            .card-text
              div Range: {{card.range}}
              div Cost: {{card.cost}}
              div ACC: {{card.accuracy}}
              div EVA: {{card.evade}}
            .card-text
              div {{card.description}}
            .label.label-primary(data-ng-show='card.skill')
              | Skill: {{card.skill.name}}
          .card-footer    
            label Types:&nbsp;
            i.fa.fa-mars(data-ng-show='card.gender === "M"', title='Male')
            i.fa.fa-venus(data-ng-show='card.gender === "F"', title='Female')
            i.fa(data-ng-repeat='t in card.types', data-ng-class='getTypeIcon(t)', title='{{t}}')
