@import 'nib'

global-reset()

body
  background-color #FFFFFF

.header
  border-bottom 1px solid blue
  margin-bottom 5px
  background-color black
  color white
  text-align center

  .logo
    font-weight bold
    font-size 25px
    padding 5px

.footer
  background-color black
  color white
  text-align center
  padding 5px
  font-size 12px
