.m-a-lg
  h1.display-3 SWFC-UI
  p.lead Welcome to the future home of the SWFC-UI. ...and yes, it needs a new name.
  .m-a
    blockquote.blockquote
      p "Laugh it up, fuzz ball."
      footer
        | Han Solo,&nbsp;
        cite(title='The Empire Strikes Back') The Empire Strikes Back
